build/
.vscode

|                          |Запуск 1     |Запуск 2   |Запуск 3   | Среднее по мнк   |
|---                       |---          |---        |---        |---               |
|Наивная реализация -O0    | 682902320   | 670635944 | 691955690 |                  |
|Наивная реализация -O3    | 355672171   | 367866463 | 363179755 | 3.622e8 +- 6.2e6 |
|SIMD инструкции    -O3    | 0.046721    | 0.045926  | 0.046523  |                  |
|Реализация на массивах -O3| 0.359699    | 0.357064  | 0.358123  |                | 